:root {
  --neutral-0: oklch(1 0 0);
  --neutral-50: oklch(0.985 0 0);
  --neutral-100: oklch(0.97 0 0);
  --neutral-200: oklch(0.922 0 0);
  --neutral-300: oklch(0.87 0 0);
  --neutral-400: oklch(0.708 0 0);
  --neutral-500: oklch(0.556 0 0);
  --neutral-600: oklch(0.439 0 0);
  --neutral-700: oklch(0.371 0 0);
  --neutral-800: oklch(0.269 0 0);
  --neutral-900: oklch(0.205 0 0);
  --neutral-950: oklch(0.145 0 0);
  --white-alpha-10: oklch(1 0 0 / 10%);
  --white-alpha-15: oklch(1 0 0 / 15%);
  --black-alpha-6: oklch(0 0 0 / 6%);
  --black-alpha-10: oklch(0 0 0 / 10%);

  --green-100: oklch(0.962 0.044 156.743);
  --green-400: oklch(0.792 0.209 151.711);
  --green-700: oklch(0.527 0.154 150.069);
  --green-950: oklch(0.266 0.065 152.934);

  --red-100: oklch(0.936 0.032 17.717);
  --red-400: oklch(0.704 0.191 22.216);
  --red-700: oklch(0.505 0.213 27.518);
  --red-950: oklch(0.258 0.092 26.042);

  --amber-100: oklch(0.962 0.059 95.617);
  --amber-400: oklch(0.828 0.189 84.429);
  --amber-800: oklch(0.473 0.137 46.201);
  --amber-950: oklch(0.279 0.077 45.635);

  --blue-100: oklch(0.932 0.032 255.585);
  --blue-400: oklch(0.707 0.165 254.624);
  --blue-700: oklch(0.488 0.243 264.376);
  --blue-950: oklch(0.282 0.091 267.935);
}
